<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="roshowDockingUrl" value="http://203.93.252.30:8080/bitnei/v1.0/battery/vehicle/receiveBatteryProduce"/>
    <add key="roshowDockingToken" value="EJkGokXGz1vJhlIWc449/dS6nwsLIAJM"/>
    <add key="roshowDockingAESEncryptKey" value="EYtX/pzbQeqwl+WwOtkY2A=="/> <!--通过 Java 中的AES Key 转换为 CSharp 中的AES Key-->
    <add key="roshowDockingMD5EncryptKey" value="z80q0KUkWS1sjBVf"/><!--Java 中的 Key-->
  </appSettings>
</configuration>